@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
	font-family: "Encode Sans Condensed", sans-serif;
	color: #555;
	font-size: 18px;
	line-height: 28px;
}



.team_detail_wrapper {
	padding: 80px 0;
}

.container {
	max-width: 1200px !important;
}

.team_detail_wrapper .team_detail_head p {
    color: #4baf47;
    font-weight: 600;
}

.team_detail_wrapper .team_detail_head h2 {
    font-size: 45px;
    font-weight: 700;
    color: #000000;
}

.team_detail_wrapper .team_detail_item {
	  margin-top: 50px;
}

.team_detail_wrapper .team_detail_item figure {
    width: 280px;
    height: 280px;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0px 50px 0 0 !important;
}

.team_detail_wrapper .team_detail_item figure:hover img {
	  transform: scale(1.10);
}

.team_detail_wrapper .team_detail_item figure img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  transition: 0.4s all ease-in-out;
}

.team_detail_wrapper .team_detail_item .team_detail_content span {
    color: #4baf47;
    text-transform: uppercase;
    font-weight: 500;
}

.team_detail_wrapper .team_detail_item .team_detail_content h2 {
    color: #000000;
    font-weight: 700;
    margin: 10px 0;
    border-bottom: 1px solid rgb(143 142 142);
    padding-bottom: 20px;
}

.team_detail_wrapper .team_detail_item .team_detail_content ul li {
	display: inline-block;
}

.team_detail_wrapper .team_detail_item .team_detail_content ul li a {
    font-size: 18px;
    margin: 0 15px 0 0;
    color: #000000;
    transition: 0.4s all ease-in-out;
}

.team_detail_wrapper .team_detail_item .team_detail_content ul li a:hover {
	  color: #4baf47;
}







/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1399px){
	
}
@media (min-width: 1400px) { 
	
}
@media (min-width: 1200px) {


}

@media (max-width: 1199px) { 

	.team_detail_wrapper .team_detail_item figure {
	    width: 240px;
	    height: 240px;
	    margin: 0px 35px 0 0 !important;
	}

}

@media (max-width: 991px) {

}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {
		
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {

	.team_detail_wrapper .team_detail_head h2 {
	    font-size: 35px;
	}

	.team_detail_wrapper .team_detail_item {
      flex-direction: column;
      align-items: flex-start !important;
  }

  .team_detail_wrapper .team_detail_content {
  	  margin-top: 30px;
  }
}
